node_modules/
.DS_Store
acs-demo/.DS_Store
public/components
.sass-cache
azure_swiss_army_knife
acs-demo/acs-mesos-deploy.json
RemoteSystemsTempFiles/
.metadata/
pf-requestservice/requests/request*
/java-webapp-tomcat-aad/nbproject/
acs-kubernetes/acs-template/backup/
