
	/* COMMON */
	body, html
	{
		height:100%;
		margin: 0px auto;
	}
	body
	{
		margin: 0px;
		text-align: left;
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 11px;
		background-color: #BDDEFF;
		background-image:url('images/page_bg.png'); background-repeat:repeat-x;
		min-width:980px;
	}
	.header{
		padding:15px 5px;
	}
	.header div{
		float:right;
		padding:5px 0px;
	}
	.header div a{
		color:#FFD800;
	}
	.header img, .navPanel img, .navSelect img{
		vertical-align:middle;
		margin:0px 5px 0px 0px;
		border:none;
	}
	.subHeader{
		background-image:url('images/subheader_bg.png'); background-repeat:repeat-x;
		height:27px;
	}
	.subHeader div{
		padding:5px;
		font-size:14px;
		font-weight:bold;
		color:#10428C;
	}
	.clear{
		clear:both;
		float:none;
		height:0px;
	}
	.title{
		font-size:18px;
		font-weight:bold;
		padding:0px 5px;
	}
	/* TOOLBAR */
	.toolbar{
		height:25px;
		margin:0px 5px;
		background-image:url('images/toolbar_bg.png'); background-repeat:repeat-x;
		float:left;
	}
	.toolbarLeft{
		background-image:url('images/toolbar_left.png'); background-repeat:no-repeat;
		height:25px;
		width:7px;
		float:left;
	}
	.toolbarRight{
		background-image:url('images/toolbar_right.png'); background-repeat:no-repeat;
		height:25px;
		width:12px;	
		float:left;
	}
	.toolbarContent{
		padding:5px;
		float:left;
		height:25px;
	}
	.toolbarContent img{
		vertical-align:top;
		border:0px;
		margin-right:5px;
	}
	.toolbarContent a,.toolbarContent a:visited{
		padding:5px;
		color:#000000;
		text-decoration:none;
	}
	.toolbarContent a:hover{
		text-decoration:underline;
	}
	/* NAVIGATION */
	.navigation{
		width:20%;
		height:80%;
		margin: 5px 5px 0px 5px;
		border:solid 1px #6394CE;
		background-color:#ffffff;
		float:left;
		vertical-align:bottom;
		position:relative;
	}
	.navPanel{
		padding:10px;
		height:60%;
	}
	.navPanel a, .navPanel a:visited{
		padding:5px 5px;
		display:block;
		color:#000000;
		border:solid 1px #ffffff;
		text-decoration:none;
	}
	.navPanel a:hover{
		background-color:#FFE88C;
		border:solid 1px #D69C00;
	}
	.navSeparator{
		height:10px;
		background-image:url('images/nav_separator.png'); background-repeat:repeat-x; background-position:center;
	}
	.navSelect{
		position:absolute;
		bottom:0px;
		width:100%;
	}
	.navSelect a{
		height:22px;
		display:block;
		padding:5px;
		background-image:url('images/nav_link.png'); background-repeat:repeat-x;
		font-weight:bold;
		text-decoration:none;
		color:#000000;
	}
	.navSelect a:hover{
		background-image:url('images/nav_link_hover.png'); background-repeat:repeat-x;
	}
	/* CONTENT */
	.content{
		width:78%;
		margin: 5px 5px 0px 0px;
		background-color:#ffffff;
		border:solid 1px #6394CE;
		vertical-align:top;
		float:left;
	}
	.contentPanel{
		padding:10px;
		overflow:auto;
	}
}
